<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>triplodocus</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="/static/assets/css/untitled.css">
    <link rel="stylesheet" href="/static/assets/css/Video-Responsive-YouTube.css">
</head>

<body style="/*align-items: end;*/padding-top: 8px;">
    <div class="container" style="position: relative;">
        <header>
            <div class="row no-gutters">
                <div class="col offset-xl-8" id="date_col">
                    <p>JUIN 2020</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col text-center" id="logo_col"><img src="/static/assets/img/triplodocusLOGO%202.png" style="max-width: 100%;"></div>
            </div>
            <div class="row no-gutters">
                <div class="col text-center" id="accroche_col">
                    <p>triplodocus. est un dinosaure à 3 têtes.</p>
                </div>
            </div>
        </header>
        <section class="text-center" id="histoire" style="margin-top: 213.79px;"><img id="image_triplo_histoire" src="/static/assets/img/triplodocusLOGO%20jaune2%20copie.png%20%281%29.svg" style="/*max-width: 100%;*//*height: auto;*/">
            <div class="row no-gutters" style="position: absolute;top: 285px;">
                <div class="col-xl-12 offset-xl-1 text-center" style="/*width: 1155px;*//*height: 573px;*/text-align: center;letter-spacing: 0px;font-size: 37px;font-family: Comfortaa;opacity: 1;/*position: absolute;*//*top: 285px;*//*left: -21px;*/"><p style="font-family:Comfortaa"><strong>triplodocus. propose une pop française alternative et singulière,<br>située au carrefour de leurs influences, entre rap et house, disco<br> et variété française.</strong><br><br>Le trio déploie une musique chaleureuse et élégante, teintée de <br>second degré. De là naît une identité visuelle qui apparaît comme<br> une évidence dans une ambiance colorée et théâtrale.<br><br>Formé en 2017, triplodocus résulte de la complémentarité et l’amitié<br> de ses trois membres aux longs cous: WAM, Madud et Wish, tous<br> issus de la région parisienne</p></div>
            </div>
        </section>
        <section class="flex-column justify-content-center align-items-stretch" id="derniere_sorties" style="margin-left: -120px;">
            <div class="row no-gutters" style="/*margin-top: 300px;*/">
                <div class="col-xl-5 offset-xl-0" style="/*background-color: #ffffff;*/width: 620px;height: 74px;">
                    <h1 class="display-2" id="h1_sorties" style="width: 672px;">NOS DERNIERES SORTIES</h1>
                </div>
            </div>
            <div class="container-fluid archetype_sortie" style="/*margin-top: 103px;*//*margin-left: 253px;*/width: 1503px;height: 520px;margin-bottom: 145px;">
                <div class="row no-gutters" style="margin-top: 103px;">
                    <div class="col-xl-3 text-center" style="border-radius: 13px;background: #FEC959 0% 0% no-repeat padding-box;">
                        <h2 id="h3_clip" style="/*color: #262626;*//*background: #FEC959 0% 0% no-repeat padding-box;*//*border-radius: 13px;*/opacity: 1;width: 361px;font-family: Bondi;border-radius: 13px;filter: blur(0px);">&nbsp; NOTRE PREMIER CLIP&nbsp;</h2>
                    </div>
                </div>
                <div class="row titre_row" style="margin-top: 23px;height: 540px;">
                    <div class="col video_youtube">
                        <div class="video-container"><iframe style="border-radius=15px;"width="720px" height="454px" src="https://www.youtube.com/embed/ZXEfCtGw28g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
                        <p class="realisation" >Clip réalisé avec Pierre BELLEC. Avec Julie UNG</p>
                    </div>
                    <div class="col text-center descriptif_video" style="margin-left: 15px;width: 494px;">
                        <div class="row">
                            <div class="col" style="margin-top: 51px;"><img src="/static/assets/img/magiffingerjoetexte.svg"></div>
                        </div>
                        <div class="row" style="margin-top: 46px;">
                            <div class="col offset-xl-2">
                                <p id="descriptif_magic_finger_joe" style="width: 494px;height: 240px;">«&nbsp;Magic Finger Joe&nbsp;» est le premier morceau clippé des triplodocus. Il conte l’histoire d’un DJ déchu, caricature d’un roi de la nuit séducteur, devenu ringard, cloué aux souvenirs de ses vieilles aventures.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid archetype_sortie" style="/*margin-top: 103px;*//*margin-left: 253px;*/width: 1503px;height: 520px;margin-bottom: 72px;">
                <div class="row no-gutters" style="margin-top: 103px;margin-bottom: 23px;">
                    <div class="col-xl-4" id="dernire_titre_col" style="width: 386px;">
                        <h2 class="text-center" id="dernier_titre_h3" style="color: #ffffff;/*background: #FEC959 0% 0% no-repeat padding-box;*//*border-radius: 13px;*/opacity: 1;width: 388px;font-family: Bondi;/*border-radius: 13px;*//*filter: contrast(200%);*/">NOTRE DERNIER PROJET</h2>
                    </div>
                </div>
                <div class="row titre_row" id="dernier_project_ensemble">
                    <div class="col video_youtube">
                        <div class="video-container"><iframe style="border-radius=15px;"width="720px" height="454px" src="https://www.youtube.com/embed/BF4a6v-WGZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
                        <p style ="margin-bottom :10px;" id="realisation_alexendrie">Réalisé par Juliette Bly</p>
                    </div>
                    <div class="col text-center descriptif_video" style="margin-left: 15px;width: 494px;">
                        <div class="row">
                            <div class="col" style="margin-top: 82px;"><img src="/static/assets/img/petit%20triplo%20logo%20noir.svg"></div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col offset-xl-2">
                                <p id="descriptif_alexendrie" style="width: 494px;height: 240px;">ALEXANDRIE ALEXANDRA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="concept" style="margin-top: 220px;">
            <div class="row no-gutters" style="margin-top: 103px;margin-bottom: 23px;">
                <div class="col-xl-5 text-center" style="width: 386px;/*border-radius: 13px;*/">
                    <h2 style="color: rgb(0,0,0);background: #FFFF 0% 0% no-repeat padding-box;/*border-radius: 13px;*/opacity: 1;width: 388px;font-family: Bondi;border-radius: 13px;/*filter: contrast(200%);*/font-size: 56px;">LE CONCEPT</h2>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 101.37px;margin-left: 146.23px;">
                <div class="col">
                    <p style="text-align: center;font: Regular 51px/68px Bondi;letter-spacing: 0px;color: #8E8B86;opacity: 1;font-size: 51px;font-family: Bondi;">Un nouveau morceau chaque 3 mois</p>
                </div>
            </div>
            <div class="row d-flex" style="margin-top: 66.63px;">
                <div class="col" style="height: 374px;border: groove;margin-right: 55px;">
                    <div class="row text-center" style="background: #8E8B86 0% 0% no-repeat padding-box;">
                        <div class="col">
                            <p style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #FAF7F3;opacity: 1;font-size: 44px;">MAI</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <h1 style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #8E8B86;opacity: 1;font-size: 183px;margin-top: 22px;">3</h1>
                        </div>
                    </div>
                </div>
                <div class="col" style="height: 374px;border: groove;background-color: #FFFF;margin-right: 55px;">
                    <div class="row text-center" style="background: #4C7936 0% 0% no-repeat padding-box;">
                        <div class="col">
                            <p style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #FAF7F3;opacity: 1;font-size: 44px;">JUIN</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <h1 style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #262626;opacity: 1;font-size: 183px;margin-top: 22px;">3</h1>
                        </div>
                    </div>
                </div>
                <div class="col" style="height: 374px;border: groove;">
                    <div class="row text-center" style="background: #8E8B86 0% 0% no-repeat padding-box;">
                        <div class="col">
                            <p style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #FAF7F3;opacity: 1;font-size: 44px;">JUILLET</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <h1 style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #8E8B86;opacity: 1;font-size: 183px;margin-top: 22px;">3</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 75.52px;height: 68px;width: 1262px;">
                <div class="col offset-xl-0">
                    <p style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #8E8B86;opacity: 1;font-size: 51px;">UNE POCHETTE ANIMÉÉ POUR CHAQUE MORCEAU</p>
                </div>
            </div>
            <div class="row" style="margin-top: 66.48px;">
                <div class="col" style="margin-right: 55px;"><img src="/static/assets/img/Annotation%202020-06-10%20225055.png" style="max-width: 371px;max-height: 375px;/*margin-right: 55px;*/"></div>
                <div class="col" style="margin-right: 55px;"><img src="/static/assets/img/Annotation%202020106-10%20225055.png" style="height: 375px;"></div>
                <div class="col"><img src="/static/assets/img/Annotation%202020106-1225055.png" style="max-width: 371px;max-height: 375px;"></div>
            </div>
        </section>
        <section id="projets" style="margin-top: 216px;margin-left: -160px;">
            <div class="row no-gutters" style="margin-top: 103px;margin-bottom: 23px;">
                <div class="col-xl-5 text-center" style="width: 386px;/*border-radius: 13px;*/">
                    <h2 style="color: rgb(0,0,0);background: #FFFF 0% 0% no-repeat padding-box;/*border-radius: 13px;*/opacity: 1;width: 388px;font-family: Bondi;border-radius: 13px;/*filter: contrast(200%);*/font-size: 56px;">NOS PROJETS</h2>
                </div>
            </div>
            <div class="row row-cols-4 d-flex flex-grow-0 flex-shrink-0 justify-content-start" id="gallery" style="justify-content: space-between;width: 1449px;margin-top: 110px;">
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;"><img src="/static/assets/img/alexandrieCOver.png" style="max-width: 343px;max-height: 343px;"></div>
                    </div>
                    <div class="row" style="margin-top: 62.36px;">
                        <div class="col"><img src="/static/assets/img/ALEXANDRIEALEXANDRA.svg" style="max-width: 256px;max-height: 103px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;"><img src="/static/assets/img/AutonomieCover.jpg" style="max-width: 343px;max-height: 343px;"></div>
                    </div>
                    <div class="row" style="margin-top: 111px;">
                        <div class="col"><img src="/static/assets/img/autonomie.png" style="max-width: 256px;max-height: 103px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;"><img src="/static/assets/img/SOire%E2%95%A0%C3%BCeClub.png" style="max-width: 343px;max-height: 343px;"></div>
                    </div>
                    <div class="row" style="margin-top: 70px;">
                        <div class="col"><img src="/static/assets/img/soire%E2%95%A0%C3%BCeclub.svg" style="max-width: 256px;max-height: 103px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;"><img src="/static/assets/img/magiccover.png" style="max-width: 343px;max-height: 343px;"></div>
                    </div>
                    <div class="row text-center" style="margin-top: 59px;margin-bottom: 37px;">
                        <div class="col"><img src="/static/assets/img/magicfingerNoir.svg" style="max-width: 256px;max-height: 146px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;"><img src="/static/assets/img/coverparapluie.jpg" style="max-width: 343px;max-height: 343px;"></div>
                    </div>
                    <div class="row text-center" style="margin-top: 90px;">
                        <div class="col"><img src="/static/assets/img/Parapluie.svg" style="max-width: 256px;max-height: 103px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;"><img src="/static/assets/img/Cover%20Un%20truc%20comme%20%E2%94%9C%C2%BAa.jpg" style="max-width: 343px;max-height: 343px;"></div>
                    </div>
                    <div class="row text-center" style="margin-top: 59px;margin-bottom: 34px;">
                        <div class="col"><img src="/static/assets/img/untruccommeca.svg" style="max-width: 256px;max-height: 169px;"></div>
                    </div>
                </div>
                <div class="col text-center" style="width: 341px;height: 341px;">
                    <div class="row">
                        <div class="col" style="width: 343px;"><img src="/static/assets/img/Cover%204%20couleurs.png" style="max-width: 343px;max-height: 343px;"></div>
                    </div>
                    <div class="row text-center" style="margin-top: 104px;">
                        <div class="col"><img src="/static/assets/img/4couleurs.svg" style="max-width: 276px;max-height: 103px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;"><img src="/static/assets/img/ExploitsCover.jpg" style="max-width: 343px;max-height: 343px;"></div>
                    </div>
                    <div class="row text-center" style="margin-top: 67px;">
                        <div class="col"><img src="/static/assets/img/exploitssexuels.svg" style="max-width: 256px;max-height: 110px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;height: 343px;background: #EFE5D9 0% 0% no-repeat padding-box;opacity: 1;margin-right: 15px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;height: 343px;background: #EFE5D9 0% 0% no-repeat padding-box;opacity: 0.75;margin-right: 12px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;height: 343px;background: #EFE5D9 0% 0% no-repeat padding-box;opacity: 0.50;margin-right: 12px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="width: 343px;height: 343px;background: #EFE5D9 0% 0% no-repeat padding-box;opacity: 0.25;margin-right: 12px;"></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="social_media" style="margin-top: 338px;">
            <div class="row">
                <div class="col">
                    <hr>
                </div>
                <div class="col-xl-5 d-inline-block" style="text-align: center;"><span style="display: inline-block;vertical-align: middle;"><img src="/static/assets/img/Deezer.png" style="margin-right: 20px;"><img src="/static/assets/img/Apple.png" style="margin-right: 20px;"><img src="/static/assets/img/Youtube.png" style="margin-right: 20px;"><img src="/static/assets/img/Spotify.png"></span></div>
                <div
                    class="col">
                    <hr>
            </div>
    </div>
    </section>
    </div>
    <div class="container-fluid text-center">
        <section id="membres" style="margin-top: 225px;background-image: url(/static/assets/img/fond1.svg);/*background-position: center;*/background-repeat: no-repeat;background-size: cover;">
            <div class="row no-gutters d-flex justify-content-center mx-auto">
                <div class="col text-center" style="max-width: 194px;max-height: 575px;margin-right: 93.65px;margin-top: 213px;">
                    <div class="row">
                        <div class="col"><img id="wam_image" src="/static/assets/img/72365498_2437643193190078_7259466264727257088_o%402x.png"></div>
                    </div>
                    <div class="row" style="margin-top: 36px;">
                        <div class="col"><img id="wam_nom" src="/static/assets/img/wampetit.png"><p class="artiste_description">(espèce non<br> répertoriée) :<br><br> Se plaît à créer de la<br> musique en bonne<br> compagnie.<br> Ses armes :<br> l’écriture de textes,<br> le rap, et des<br> facultés graphiques.</p></div>
                    </div>
                </div>
                <div class="col text-center" style="max-width: 194px;max-height: 575px;margin-right: 93.65px;">
                    <div class="row">
                        <div class="col"><img id="madud_image" src="/static/assets/img/72717461_2437643143190083_5832226788062789632_o%402x.png" style="element.style {&nbsp; max-width: 195px;max-height: 195px;"></div>
                    </div>
                    <div class="row no-gutters" style="margin-top: 36px;">
                        <div class="col"><img id="madud_nom" src="/static/assets/img/madudpetit.png"><p class="text-center">(n.masculin singulier) :<br><br> Petit animal<br>  apprivoisé vivant<br>  aux abords du<br>  hameau d’Herblay<br>  sur Seine.<br>  Son intégrité dans<br>  les institutions<br>  musicales l’a poussé<br>  à déployer ses ailes<br>  afin de voltiger<br>  sur des notes<br>  angéliques et<br>  lyriques vers la route<br>  du succès. </p></div>
                    </div>
                </div>
                <div class="col text-center" style="max-width: 194px;max-height: 575px;">
                    <div class="row">
                        <div class="col"><img id="wam_image" src="/static/assets/img/72661423_2437643299856734_4756149803228856320_o%402x.png" style="max-width: 195px;max-height: 195px;margin-top: 163px;"></div>
                    </div>
                    <div class="row" style="margin-top: 36px;">
                        <div class="col"><img id="wish_nom" src="/static/assets/img/wishpetit.png"><p class="artiste_description">(Wishus Nocturnus) :<br><br> Compositeur brillant,<br> trompettiste hors-<br> pair et ingénieur son<br> aux oreilles d’or, Wish<br> de Nuit a su mettre<br> ses meilleurs atouts<br> au service du<br> groupe aux dépens<br> de son extrême<br> modestie.</p></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 503.17px;">
                <div class="col"><img src="/static/assets/img/triplodocusLOGO%20jaune2%20copie.png%20%282%29.svg" style="max-width: 150px;max-height: 168px;">
                    <h1 style="text-align: center;font: Bold 51px/68px Comfortaa;letter-spacing: 0px;color: #242221;opacity: 1;font-size: 51px;margin-top: 28.56px;">triplodocus.</h1>
                </div>
            </div>
            <div class="row" style="margin-top: 130px;">
                <div class="col"><img src="/static/assets/img/instagram.svg" style="/*max-width: 69px;*//*max-height: 6çpx;*/"><span style="text-align: left;font-family: Alba;letter-spacing: 0px;color: #8A847D;font-size: 37px;opacity: 1;margin-right: 0px;margin-left: 15.76px;">@triplodocus_</span>
                    <img
                        src="/static/assets/img/1280px-YouTube_full-color_icon_%282017%29.svg%20copie.png.svg" style="max-width: 69px;max-height: 69px;margin-left: 12px;"><span style="text-align: left;font-family: Alba;letter-spacing: 0px;color: #8a847d;font-size: 37px;opacity: 1;margin-left: 15.76px;">triplodocus.</span><img src="/static/assets/img/1280px-YouTube_full-color_icon_%282017%29.svg%20copie.png%20%282%29.svg" style="max-width: 69px;max-height: 69px;margin-left: 12px;">
                        <span
                            style="text-align: left;font-family: Alba;letter-spacing: 0px;color: #8A847D;opacity: 1;font-size: 37px;margin-left: 15.76px;">triplodocus.</span>
                </div>
            </div>
            <div class="row" style="margin-top: 193px;">
                <div class="col">
                    <hr>
                </div>
                <div class="col-xl-5">
                    <h1 style="text-align: center;font-family: Alba;letter-spacing: -0.94px;color: #8A847D;opacity: 1;">contact.triplodocus@gmail.com</h1>
                </div>
                <div class="col">
                    <hr>
                </div>
            </div>
        </section>
    </div>

    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>