<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>triplodocus</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="static/assets/css/Responsive-Youtube-Embed.css">
    <link rel="stylesheet" href="static/assets/css/smartphone.css">
    <link rel="stylesheet" href="static/assets/css/Video-Responsive-YouTube-1.css">
    <link rel="stylesheet" href="static/assets/css/Video-Responsive-YouTube.css">
</head>
<body style="/*align-items: end;*/background: #F7F1E9 0% 0% no-repeat padding-box;opacity: 1;">
    <div id="header">
        <div class="container-fluid" id="header_container">
            <div class="row no-gutters text-center">
                <div class="col-md-12"><img id="trioploVert" src="static/assets/img/triploVert.png" style="/*object-fit: cover;*/"></div>
            </div>
            <div class="row no-gutters" id="trois_tete">
                <div class="col-md-12 text-center">
                    <p class="text-center" style="font-family: ;Alba Super;, ;Regular;;">triplodocus. est un dinosaure à 3 têtes.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="histoire_block">
        <div class="container-fluid" id="container_histoire" style="/*background-image:  url('static/assets/img/logo triplo fond texte.png');*/">
            <div class="row no-gutters" id="row_histoire">
                <div class="col-md-12 text-center" id="col_histoire" style="font-family: Comfortaa;/*background-image:  url('static/assets/img/logo triplo fond texte.png;);*/"><p style="font-family:Comfortaa"><strong>triplodocus. propose une pop française alternative et singulière,<br>située au carrefour de leurs influences, entre rap et house, disco<br> et variété française.</strong><br><br>Le trio déploie une musique chaleureuse et élégante, teintée de <br>second degré. De là naît une identité visuelle qui apparaît comme<br> une évidence dans une ambiance colorée et théâtrale.<br><br>Formé en 2017, triplodocus résulte de la complémentarité et l’amitié<br> de ses trois membres aux longs cous: WAM, Madud et Wish, tous<br> issus de la région parisienne</p></div>
            </div>
        </div>
    </div>
    <section id="sortie_section">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-xl-5 offset-xl-0">
                    <h1 class="text-center">NOS DERNIERES SORTIES</h1>
                </div>
            </div>
        </div>
        <div class="container" id="magic_finger_container">
            <div class="row" id="premier_clip_row">
                <div class="col-auto" style="/*border-radius: 72px;*/">
                    <p style="/*text-align: center;*/font-family: Bondi;letter-spacing: 0px;background-color: #FEC959;color: #262626;border-radius: 15Px;opacity: 1;">&nbsp;NOTRE PREMIER CLIP&nbsp; &nbsp;</p>
                </div>
            </div>
            <div class="row no-gutters d-flex order-1" id="video_row" style="background: #8E0303 0% 0% no-repeat padding-box;opacity: 1;">
                <div class="col text-center"><img id="magic_finger_titre" src="static/assets/img/magiffingerjoetexte.svg"></div>
                <div class="col text-center youtube_responsive" style="padding-bottom: 223px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/ZXEfCtGw28g"></iframe>
                    <p style="text-align: center;font-family: Comfortaa;letter-spacing: 0px;color: #FEC959;opacity: 1;">Clip réalisé avec Pierre BELLEC. Avec Julie UNG</p>
                </div>
            </div>
        </div>
        <div class="container-md" id="dernier_project_container">
            <div class="row" id="dernier_clip_row">
                <div class="col-auto" style="/*border-radius: 72px;*/">
                    <p style="/*text-align: center;*//*font-family: Bondi;*/letter-spacing: 0px;background-color: #262626;border-radius: 13px;background: #262626 0% 0% no-repeat padding-box;/*border-radius: 13px;*/border-radius: 15Px;opacity: 1;color: white;">&nbsp; NOTRE DERNIER PROJET&nbsp;</p>
                </div>
            </div>
            <div class="row no-gutters" id="video_row_dernier" style="/*background: background: #E0CDB8 0% 0% no-repeat padding-box;*//*background: #E0CDB8 0% 0% no-repeat padding-box;*/">
                <div class="col text-center"><img id="denier_titre" src="static/assets/img/ALEXANDRIEALEXANDRA.svg"></div>
                <div class="col text-center youtube_responsive" style="padding-bottom: 223px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/BF4a6v-WGZA?autoplay=1&amp;mute=1"></iframe>
                    <p style="/*text-align: center;*/font-family: Comfortaa;/*letter-spacing: 0px;*//*color: #FEC959;*/opacity: 1;">Réalisé par Juliette BLY</p>
                </div>
            </div>
        </div>
    </section>
    <div id="concept_block">
        <div class="container" id="3_container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center" style="color: rgb(0,0,0);background-color: #FFFF;/*border-radius: 13px;*/opacity: 1;/*width: 388px;*/font-family: Bondi;border-radius: 13px;/*filter: contrast(200%);*//*font-size: 56px;*/">LE CONCEPT</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="text-align: center;font: Regular 51px/68px Bondi;letter-spacing: 0px;color: #8E8B86;opacity: 1;/*font-size: 51px;*/font-family: Bondi;margin-top: 20px;">Un nouveau morceau chaque 3 mois</p>
                </div>
            </div>
            <div class="row row-cols-3 text-center justify-content-center" id="jours_row" style="margin-top: 20px;">
                <div class="col" style="border: 3px solid #8E8B86;/*border: 3px solid #8E8B86;*/margin-right: 10px;">
                    <div class="row text-center" style="background: #8E8B86 0% 0% no-repeat padding-box;">
                        <div class="col">
                            <p style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #FAF7F3;opacity: 1;/*font-size: 44px;*/">MAI</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <h1 style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #8E8B86;opacity: 1;/*font-size: 183px;*/margin-top: 22px;">3</h1>
                        </div>
                    </div>
                </div>
                <div class="col" style="/*height: 374px;*//*border: groove;*/background-color: #FFFF;margin-right: 10px;box-shadow: 0px 3px 6px #00000022;">
                    <div class="row text-center" style="background: #4C7936 0% 0% no-repeat padding-box;">
                        <div class="col">
                            <p style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #FAF7F3;opacity: 1;/*font-size: 44px;*/">JUIN</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <h1 style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #262626;opacity: 1;/*font-size: 183px;*/margin-top: 22px;">3</h1>
                        </div>
                    </div>
                </div>
                <div class="col" style="/*height: 374px;*//*border: groove;*//*margin-right: 10px;*/border: 3px solid #8E8B86;">
                    <div class="row text-center" style="background: #8E8B86 0% 0% no-repeat padding-box;">
                        <div class="col">
                            <p style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #FAF7F3;opacity: 1;/*font-size: 44px;*/">JUILLET</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <h1 style="text-align: center;font-family: Bondi;letter-spacing: 0px;color: #8E8B86;opacity: 1;/*font-size: 183px;*/margin-top: 22px;">3</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="pochette_container">
            <div class="row">
                <div class="col">
                    <p style="text-align: center;font: Regular 51px/68px Bondi;letter-spacing: 0px;color: #8E8B86;opacity: 1;font-family: Bondi;margin-top: 20px;">UNE POCHETTE ANIMÉÉ POUR CHAQUE MORCEAU</p>
                </div>
            </div>
            <div class="row row-cols-3 justify-content-center" id="pochette_row" style="/*margin-top: 66.48px;*/">
                <div class="col" style="/*margin-right: 55px;*/"><img src="static/assets/img/Annotation 2020-06-10 225055.png" style="/*max-width: 93px;*//*max-height: 375px;*//*margin-right: 55px;*/"></div>
                <div class="col" style="/*margin-right: 55px;*/"><img src="static/assets/img/Annotation 2020106-10 225055.png" style="/*width: 169px;*/"></div>
                <div class="col" style="/*border: 3px solid #8E8B86;*//*opacity: 1;*/"><img src="static/assets/img/Annotation 2020106-1225055.png" style="/*max-width: 371px;*//*max-height: 375px;*/border: 3px solid #8E8B86;opacity: 1;margin-left: -9px;"></div>
            </div>
        </div>
    </div>
    <section id="projet_section">
        <div class="container">
            <div class="row" style="margin-top: 50px;/*margin-bottom: 23px;*/">
                <div class="col-xl-5 text-center" style="/*width: 386px;*//*border-radius: 13px;*/">
                    <h2 style="color: rgb(0,0,0);background: #FFFF 0% 0% no-repeat padding-box;/*border-radius: 13px;*/opacity: 1;/*width: 388px;*/font-family: Bondi;border-radius: 13px;/*filter: contrast(200%);*//*font-size: 56px;*/">NOS PROJETS</h2>
                </div>
            </div>
            <div class="row no-gutters row-cols-2 d-flex flex-grow-0 flex-shrink-0" id="gallery" style="/*justify-content: space-between;*//*margin-top: 110px;*/">
                <div class="col text-center" style="/*margin-left: -10px;*/">
                    <div class="row no-gutters">
                        <div class="col" style="width: 343px;"><img src="static/assets/img/alexandrieCOver.png" style="/*max-width: 153px;*//*max-height: 153px;*/"></div>
                    </div>
                    <div class="row" style="/*margin-top: 62.36px;*/">
                        <div class="col"><img src="static/assets/img/ALEXANDRIEALEXANDRA.svg" style="/*max-width: 256px;*//*max-height: 103px;*/"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row no-gutters">
                        <div class="col" style="/*width: 343px;*/"><img src="static/assets/img/AutonomieCover.jpg" style="/*max-width: 343px;*//*max-height: 343px;*/"></div>
                    </div>
                    <div class="row" style="/*margin-top: 111px;*/">
                        <div class="col"><img src="static/assets/img/autonomie.png" style="/*max-width: 256px;*//*max-height: 103px;*/"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="/*width: 343px;*/"><img src="static/assets/img/SOire╠üeClub.png" style="/*max-width: 343px;*//*max-height: 343px;*/"></div>
                    </div>
                    <div class="row" style="/*margin-top: 70px;*/">
                        <div class="col"><img src="static/assets/img/soire╠üeclub.svg" style="/*max-width: 256px;*//*max-height: 103px;*/"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="/*width: 343px;*/"><img src="static/assets/img/magiccover.png" style="/*max-width: 343px;*//*max-height: 343px;*/"></div>
                    </div>
                    <div class="row text-center" style="/*margin-top: 59px;*//*margin-bottom: 37px;*/">
                        <div class="col" style="margin-top: 2;"><img src="static/assets/img/magicfingerNoir.svg" style="max-width: 87px;max-height: 65px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="/*width: 343px;*/"><img src="static/assets/img/coverparapluie.jpg" style="/*max-width: 343px;*//*max-height: 343px;*/"></div>
                    </div>
                    <div class="row text-center" style="/*margin-top: 90px;*/">
                        <div class="col"><img src="static/assets/img/Parapluie.svg" style="/*max-width: 256px;*//*max-height: 103px;*/"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="/*width: 343px;*/"><img src="static/assets/img/Cover Un truc comme ├ºa.jpg" style="/*max-width: 343px;*//*max-height: 343px;*/"></div>
                    </div>
                    <div class="row text-center" style="/*margin-top: 59px;*//*margin-bottom: 34px;*/">
                        <div class="col"><img src="static/assets/img/untruccommeca.svg" style="width: 110px;height: 75px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="/*width: 343px;*/"><img src="static/assets/img/Cover 4 couleurs.png" style="/*max-width: 343px;*//*max-height: 343px;*/"></div>
                    </div>
                    <div class="row text-center" style="/*margin-top: 104px;*/">
                        <div class="col"><img src="static/assets/img/4couleurs.svg" style="/*max-width: 276px;*//*max-height: 103px;*/"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row">
                        <div class="col" style="/*width: 343px;*/"><img src="static/assets/img/ExploitsCover.jpg" style="/*max-width: 343px;*//*max-height: 343px;*/"></div>
                    </div>
                    <div class="row text-center" style="/*margin-top: 67px;*/">
                        <div class="col"><img src="static/assets/img/exploitssexuels.svg" style="max-width: 113px;max-height: 49px;"></div>
                    </div>
                </div>
                <div class="col text-center" style="margin-left: 0px;">
                    <div class="row no-gutters" style="height: 180px;">
                        <div class="col" style="background: #EFE5D9 0% 0% no-repeat padding-box;opacity: 1;margin-right: 15px;"></div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="row no-gutters" style="width: 176px;height: 180px;">
                        <div class="col" style="/*width: 343px;*//*height: 343px;*/background: #EFE5D9 0% 0% no-repeat padding-box;opacity: 0.75;margin-right: 12px;"></div>
                    </div>
                </div>
                <div class="col text-center" id="avant_dernier_projet_col" style="display: none;">
                    <div class="row">
                        <div class="col" style="/*width: 343px;*//*height: 343px;*/background: #EFE5D9 0% 0% no-repeat padding-box;opacity: 0.50;margin-right: 12px;"></div>
                    </div>
                </div>
                <div class="col text-center" id="dernier_project_col" style="display: none;">
                    <div class="row">
                        <div class="col" style="/*width: 343px;*//*height: 343px;*/background: #EFE5D9 0% 0% no-repeat padding-box;opacity: 0.25;margin-right: 12px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="social_media_section">
        <div class="container">
            <div class="row row-cols-3">
                <div class="col-3 offset-0">
                    <hr>
                </div>
                <div class="col-6 col-xl-5 offset-0 d-inline-block" style="/*text-align: center;*/"><span class="d-inline-flex" style="/*display: inline-block;*/vertical-align: middle;"><img src="static/assets/img/Deezer.png" style="margin-right: 10px;"><img src="static/assets/img/Apple.png" style="margin-right: 10px;"><img src="static/assets/img/Youtube.png" style="margin-right: 10px;"><img src="static/assets/img/Spotify.png"></span></div>
                <div
                    class="col-3">
                    <hr>
            </div>
        </div>
        </div>
    </section>
    <section id="membres_section">
        <div class="container" id="wam_container">
            <div class="row" id="wam_row_image" style="  background-image: url('static/assets/img/wam_image_fond.png');">
                <div class="col">
                    <div></div>
                </div>
            </div>
            <div class="row text-center" id="wam_titre_row">
                <div class="col"><img src="static/assets/img/wampetit.png"><p>(espèce non<br> répertoriée) :<br><br> Se plaît à créer de la musique en bonne<br> compagnie. Ses armes : l’écriture de textes, le rap<br>, et des facultés graphiques.</p></div>
            </div>
        </div>
        <div class="container" id="madud_container">
            <div class="row" id="madud_row_image" style="background: transparent url('static/assets/img/72717461_2437643143190083_5832226788062789632_o@2x.png') 0% 0% no-repeat padding-box; background-position: center;background-size: cover;height: 137px;">
                <div class="col">
                    <div></div>
                </div>
            </div>
            <div class="row text-center" id="madud_titre_row">
                <div class="col"><img src="static/assets/img/madudpetit.png"><p>(n.masculin singulier) :<br><br> Petit animal apprivoisé vivant aux abords du<br> hameau d’Herblay sur Seine.<br> Son intégrité dans les institutions musicales l’a<br> poussé à déployer ses ailes afin de voltiger sur des<br> notes angéliques et lyriques vers la route du succès.</p></div>
            </div>
        </div>
        <div class="container" id="wish_container">
            <div class="row" id="wish_row_image" style="background: transparent  url('static/assets/img/72661423_2437643299856734_4756149803228856320_o@2x.png') 0% 0% no-repeat padding-box; background-position: center;background-size: cover;height: 137px;/*width: 100vw;*/">
                <div class="col">
                    <div></div>
                </div>
            </div>
            <div class="row text-center" id="wish_titre_row">
                <div class="col"><img src="static/assets/img/wishpetit.png"><p>(Wishus Nocturnus) :<br><br> Compositeur brillant, trompettiste hors-<br>pair et ingénieur son aux oreilles d’or, Wish<br> de Nuit a su mettre ses meilleurs atouts au service<br> du groupe aux dépens de son extrême modestie.</p></div>
            </div>
        </div>
    </section>
    <section id="gallerie_section">
        <div class="container-fluid">
            <div class="row no-gutters mdb-lightbox no-margin">
                <div class="col">
                    <div class="mdb-lightbox no-margin">
                        <figure class="figure"><img class="img-fluid figure-img" src="static/assets/img/Bonus View.png"></figure>
                        <figure class="figure"><img class="img-fluid figure-img" src="static/assets/img/ExploitsCover.jpg"></figure>
                        <figure class="figure"><img class="img-fluid figure-img" src="static/assets/img/A004_C021_0124SW.0001509.png"></figure>
                        <figure class="figure"><img class="img-fluid figure-img" src="static/assets/img/couvmfj@2x.png"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container" id="footer_container" style="/*background-image:  url('static/assets/img/logo triplo fond texte.png;);*//*margin-bottom: 115px;*/">
            <div class="row text-center">
                <div class="col"><img id="mail_footer" src="static/assets/img/noun_Mail_1707176.svg"></div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col"><span id="span_mail_text">contact.triplodocus@gmail.com</span></div>
            </div>
            <div class="row text-center" style="margin-top: 40px;">
                <div class="col">
                    <figure class="figure"><img class="img-fluid figure-img" src="static/assets/img/instagram.svg"></figure>
                </div>
                <div class="col">
                    <figure class="figure"><img class="img-fluid figure-img" src="static/assets/img/1280px-YouTube_full-color_icon_(2017).svg copie.png (2).svg" style="margin-top: 10px;"></figure>
                </div>
                <div class="col">
                    <figure class="figure"><img class="img-fluid figure-img" src="static/assets/img/1280px-YouTube_full-color_icon_(2017).svg copie.png (1).svg"></figure>
                </div>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>